.hero{
    align-items: center;
}
.hero .signUp_hero{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

.hero .sign_Container{
    box-shadow: 0px 0px 10px ;
    width: 390px;
    margin: auto;
    padding: 20px;
    align-items: center;
}
.hero .sign_Container h1{
    text-align: center;
    padding: 20px;
}
.hero .sign_Container .signUp_hero ::placeholder{
    color: rgb(71, 70, 70);
    transition: 0.2s;
    outline: none;
    font-weight: 500;
    font-size: 14px;
}
.hero .sign_Container .signUp_hero :hover ::placeholder{
    transition: 0.2s;
    font-family: "poppins";   
}

.hero .sign_Container .signUp_hero input{
    padding: 9px 20px;
    outline: none;
    width: 300px;
    height: 20px;
    margin: 10px;
    background: none;
    font-family: "poppins";
    border: 0;
    border-bottom: solid ;
    
}
.hero .sign_Container .signUp_hero .btn{
    margin: 40px;
    padding: 9px 30px;
    background: none;
    color: black;
    border :solid black ;
    font-family: "poppins" ,sans-serif;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 80px;
}
.hero .sign_Container .signUp_hero .btn:hover{
    box-shadow: black 5px 5px 0px ;
    transform: translate(-5px,-5px);
    transition: 0.3s;
}
